/* �뿤�뜑 �쁺�뿭 */


header {
  max-width: 1060px;
  width: auto; 
  padding: 30px; 
  z-index : 1000;
  margin: 0 auto;
 
}

.logo {
	font-size: 30px;
	display:inline-block;
	margin-right: 50px; 
}

.category {
	text-align: center;
	display: inline-block; 
	line-height: 30px; 
	color: #002F6C;
}

.category li {
	float: left; 
	padding: 0 15px; 
	font-weight: bold;  
	font-size: 16px; 
}

.category li:first-of-type {
	padding-left: 0px;  
}


.category li.active{
	border: 2px solid #ddd; 
	border-radius : 20px; 
}
 

.header-right {
	float:right;
	display:inline-block; 
	font-weight: bold;  
	font-size: 16px; 
	line-height: 30px; 
	color: #002F6C;
}




/* �럹�씠吏� 而⑦뀒�씠�꼫  */

.page-container{
	width: 1060px;  
	margin: 80px auto; 
	min-height: 533px; 

}

.page-container.my-page {
	display: flex;
	justify-contents: space-between; 
}






/* 硫붿씤 而⑦뀗痢� */
.main-container {
	display: flex;
	position: relative;

}

.pet-dictionary,
.community
{
	width: 50%; 
	height: 100vh; 
	box-sizing : border-box;
	padding: 90px 0;
	 
}



/* 硫붿씤 �렖怨쇱궗�쟾 */

.pet-dictionary{
	background: #ddd;
	overflow : scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.pet-dictionary::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.petdic-detail-container{
	margin-top: 242px;
}

.pet-contents{
	width: 100%;
  	height: 360px;
  	background-color: #d0d0d0;
}

.contents-title {
	width: 310px;
  height: 40px;
  font-family: NotoSansCJKkr;
  font-size: 30px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #000000;
}


.mouse-wheel{
	width: 30px; 
	height: 50px; 
	border: 3px solid #000; 
	position: absolute;
	top: calc( 50vh - 25px );
	left : calc( 50vw - 70px);
}




/* �궗�씠�뱶硫붾돱 �쁺�뿭 aisde */

aside {
	width: 250px; 
	height: 447px; 
	padding : 50px 20px; 
	box-sizing: border-box;
	border: 2px solid #F0F0F0; 
	margin-right: 20px; 
	text-align:center;  
}


.nickname {
	line-height: 36px; ;
	margin-bottom: 15px; 
	display:inline-block; 
	
}

.userId {
	font-family: Noto Sans CJK KR;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px; 
	color: #c8c8c8; 
	margin-bottom: 37px; 
}


.my-page-list li {
	line-height: 23px; 
	font-size: 16px; 
	color: #828282;
	margin-bottom: 20px; 
	font-weight:bold;
}

.my-page-list li:hover {
	cursor: pointer;
	color: #002F6C;
}


/* �꽌釉� 而⑦뀒�씠�꼫 */

.sub-container {
	width: 790px;
	height: auth;
	border: 2px solid #F0F0F0;
	box-sizing: border-box;
	padding: 46px; 
}




/* �뫖�꽣 �쁺�뿭 */

footer{
    /* position: fixed; */
    width: 100%; 
    box-sizing: border-box;
    padding: 50px;
    font-size: 13px; 
    z-index : 1000;
    background: #f0f0f0; 
}

.footer {
	max-width: 1060px;
	margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
}

.footer-logo {
	
}

.footer-right{
	text-align:right;	
}

.terms{
    display: flex;
    margin-bottom: 15px; 
}

.terms li {
	margin-right: 20px; 
}

.terms li:last-of-type {
	margin-right: 0px; 
}

.terms li::after {
	content="|"
}


.right-element{
    margin-left: 30px;
}


