/* Card */
.product-card {
  margin-left: 20px;
  width: 250px;
  border: 2px solid #f0f0f0;
  border-radius: 18px;
  box-sizing: content-box;
}

.product-card-img {
  width: 250px;
  height: 170px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 18px 18px 0 0;
}

.product-card-img img {
  height: 100%;
  width: 100%;
}

.product-card-content {
  margin: 20px;
}

.product-kinds {
  display: flex;
  align-items: flex-start;
}

.product-kind {
  font-size: 12px;
  line-height: 100%;
  color: #4f4f4f;
}

.vl {
  border-left: 1px solid #4f4f4f;
  height: 10px;
  margin-left: 6px;
}

.item-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.poll-bar {
  width: 210px;
  height: 10px;
  background: #f0f0f0;
  margin-top: 40px;
  border-radius: 10px;
}
.poll-status {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  line-height: 160%;
}
.stacked-number {
  color: #c8c8c8;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
}

/* card hover */
.product-card:hover {
  cursor: pointer;
  border-color: #002f6c;
}
