.petdic-container {
  width: 698px;
  margin: 0 auto;
}

.petdic-intro {
  margin-bottom: 60px;
}
.petdic-intro .title {
  color: #002f6c;
  text-align: center;
  line-height: 36px;
  margin-bottom: 20px;
}
.petdic-categories{
	display:flex;
	justify-content: center;
	margin-bottom:40px;
}

.petdic-categories input[type='radio'] {
  display: none;
}
.petdic-categories input[type='radio'] + label span {
  padding: 4px 20px;
  font-size: 14px;
  margin-right: 10px;
}

.petdic-categories input[type='radio'] + label:hover span {
  cursor: pointer;
}

.petdic-categories input[type='radio']:checked + label span {
  color: white;
  background-color: #002f6c;
}

/* modal-poll */
.modal-poll{
	display:flex;
	
}
.modal-poll-img{
	width:540px;
	background: #F0F0F0;
	
}

.poll-info-header{
	margin-bottom: 40px;
}
.modal-poll-info{
	width:310px;

	padding: 40px;
	display:flex;
	flex-direction: column;
	
}

.modal-poll-info .poll-info-content{
	margin-bottom:20px;
}
.poll-info-content .content-title{
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 19px;
	
}
.votable-animals{
	display: flex;
}
.votable-animal{
	margin-right: 10px;
	text-align: center;
}
.votable-animals input[type='radio'] {
	
  display: none;
}
.votable-animals input[type='radio'] + label span {
  font-size: 12px;
  color: #4F4F4F;
  font-weight: 500;
  cursor:pointer;

}
.animal-option-img{
	display:block;
	width:50px;
	height:50px;
	background: linear-gradient(0deg, rgba(0, 47, 108, 0.8), rgba(0, 47, 108, 0.8)), url(.jpg);
border-radius: 50%;
overflow:hidden;
position:relative;
}
.animal-option-img img{
	width:100%;
	height:100%;
	
}
.animal-option-img::after{
	 width: 32px;
        height: 32px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
		border:none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
        opacity:0;
}
.votable-animals input[type='radio']:checked + label.animal-option-img::after{
	opacity:1;
}

.votable-animals input[type='radio']:hover label {
  cursor: pointer;
}

.votable-animals input[type='radio']:checked + label span {
  color: white;
  background-color: #002f6c;
}
.votable-animals input[type='radio']:checked + label{
filter: grayscale(80%);
}
.poll-info-content .memo-msg{
color: #C8C8C8;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 160%;
padding-right:20px;
}
.poll-info-content .memo-area{
	resize:none;
}



/* Card */

.product-section{
	margin-bottom: 130px;
}
.product-card {
  margin-left: 20px;
  width: 250px;
  border: 2px solid #f0f0f0;
  border-radius: 18px;
  box-sizing: content-box;
}

.product-card-img {
  width: 250px;
  height: 170px;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 18px 18px 0 0;
}

.product-card-img img {
  height: 100%;
  width: 100%;
}

.product-card-content {
  margin: 20px;
}

.product-kinds {
  display: flex;
  align-items: flex-start;
}

.product-kind {
  font-size: 12px;
  line-height: 100%;
  color: #4f4f4f;
}

.vl {
  border-left: 1px solid #4f4f4f;
  height: 10px;
  margin-left: 6px;
}

.item-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}
.poll-bar {
position:relative;
  width: 210px;
  height: 10px;
  background: #f0f0f0;
  margin-top: 40px;
  border-radius: 10px;
}
.poll-bar::before{
	background: #EFB661;
	width: 50%;
	height: 10px;
	border-radius: 10px;
	position: absolute;
  	left: 0;
  	content: '';
}
.poll-status {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  line-height: 160%;
}
.stacked-number {
  color: #c8c8c8;
  font-weight: 500;
  font-size: 12px;
  line-height: 160%;
}

/* card hover */
.product-card:hover {
  cursor: pointer;
  border-color: #002f6c;
}
